{% extends "base.html" %}
{% block content %}

<h2 style="text-align:center;">Generated Timetables</h2>

{% for class_group, entries in timetable_by_class.items %}
    <h3>{{ class_group }}</h3>

    <table border="1" style="width:100%; margin-bottom:40px; text-align:center;">
        <tr>
            <th>Day</th>
            <th>P1</th>
            <th>P2</th>
            <th>P3</th>
            <th>P4</th>
            <th>P5</th>
            <th>P6</th>
            <th>P7</th>
        </tr>

        {% for day in "Monday Tuesday Wednesday Thursday Friday".split %}
        <tr>
            <th>{{ day }}</th>
            {% for p in range(1,8) %}
                <td>
                    {% for e in entries %}
                        {% if e.day == day and e.period == p %}
                            {{ e.subject.name }} ({{ e.faculty.faculty_id }})
                        {% endif %}
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endfor %}

{% endblock %}
