{% extends "base.html" %}
{% load custom_filters %}

{% block content %}

<h2 style="text-align:center;">
    COMPUTER SCIENCE & ENGINEERING – 2 (S6)<br>
    Batch 2023–27 | Room No: 310B
</h2>

<table border="1" style="width:100%; border-collapse:collapse; text-align:center;">
    <tr>
        <th>Day</th>
        {% for slot in time_slots %}
            {% if slot == "LUNCH" %}
                <th>Lunch Break</th>
            {% else %}
                <th>{{ slot }}</th>
            {% endif %}
        {% endfor %}
    </tr>

    {% for day in days %}
    <tr>
        <th>{{ day }}</th>

        {% for slot in time_slots %}
            {% if slot == "LUNCH" %}
                <td style="background:#f0f0f0; font-weight:bold;">
                    LUNCH
                </td>
            {% else %}
                <td>
                    {{ timetable|get_item:day|get_item:forloop.counter|default:"" }}
                </td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
